Options -MultiViews
RewriteEngine On
RewriteBase /

# Redirect all requests to index.php unless file/directory exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L] 